{
    "nonpersistent_settings": [
        "init_pull",
        "init_push",
        "resume",
        "force",
        "rclone_path",
        "rclone_executable",
        "interactive",
        "verbose",
        "verbose_l2",
        "conf_path"
    ],
    "remote": "GoogleDrive-Inf:git/_Doutorado/_MaiconSantosTese2021/images/teste",
    "remote_backup": null,
    "backup_suffix": "20211206_212234",
    "no_backup": false,
    "global_excludes": []
}